<div class="col-md-6 col-centered">
	<h1>Create a Wishlist</h1>
	<form class="form" method="POST" action="/wishlists">
		<input type="text" class="form-control" placeholder="Name the list here" name="name">
		<br> <br>
		<input type="text" class="form-control" placeholder="Describe the list here" name="description">
		<input type="submit" value="Create" class="btn btn-primary">
	</form>
</div>
