    <h1><%= title %></h1>
<% if(currentUser) { %>

<form action="/search" method="GET" role="form">
  <legend>Search for Items</legend>

  <div class="form-group">
    <label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="What are you looking for?" name="q">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% } else { %>
<h1>Please login to search</h1>
<a href="/login" class="btn btn-primary">Login</a>
<a href="/users/new" class="btn btn-success">Signup</a>
<% } %>
    <!-- Update this file to have home page with login/signup links -->
