

<div class="col-md-6 col-centered">
	<h1 class="main">Buy Me</h1>
	<p class="intro">A place to keep track of all the things you NEED. Users can share their lists and any pertinent info with other users to maximize pleasure on gifting occasions.  
	</p>
	
</div>
		
