<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Wishlists!</title>
</head>
<body>
	<div class="container">
		<div class="row">
		<% include ./partials/alerts %>
		</div>
	<a href="/">Search</a>
	<a href="/wishlists">Wishlists</a>
	<%- body %>
	</div>
</body>
</html>
