<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Wishlists!</title>
</head>
<body>

	<div class="container">
		<div class="row">
		<% include ./partials/alerts %>
		</div>
	<% if (currentUser) { %>
		<a href>
	<% } %>
	<a href="/search">Search</a>
	<a href="/wishlists">Wishlists</a>
	<%- body %>
	</div>
	<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>
